html{
    font-family: Garamond, serif;
    background: radial-gradient(circle at 31.2%, #597E52, #597E52 36%, #99BC85 40%, #597E52 20%);
}


h1{
    display: flex;
    font-size: 150px;
    color: #D4E7C5;
    text-shadow: 2px 2px 3px #101b0e;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    margin-top: -2px;

}

.first{
    margin-bottom: -10px;
}

button{
    display: flex;
    justify-content: center;
    background-color: #E1F0DA;

    margin-left: -10px;
    
    border-width: 2px;
    border-radius: 10px;

    font-size: 40px;
    font-family: Garamond, serif;
}

button:hover{
    display: flex;
    align-items: center;
    background-color: #f2faee;

    border-width: 2px;
    border-radius: 10px;

    font-size: 40px;
    font-family: Garamond, serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.column {
    flex: 50%;
    justify-content: center;
    align-items: center;
}

.column2{
    padding-top: 170px;
    margin-top: 100px;
}

.img{
    display: flex;
    justify-content: center;

}

