/* #plank {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    background: linear-gradient(180deg, #476e42, #997b43 50%);
} */

#parent {
    position: relative;
    top: 0;
    left: 0;
  }
  #plank {
    position: relative;
    top: 300px;
    left: 0;
  }
  #pot_back {
    position: absolute;
    top: 150px;
    left: 100px;
  }
  #lavender_seed {
    position: absolute;
    top: 150px;
    left: 100px;
  }
  #pot_front {
    position: absolute;
    top: 150px;
    left: 100px;
  }
