#plank {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    background: linear-gradient(180deg, #476e42, #997b43 50%);
}

#water {
    height: 20px; 
    background-color: pink; 
}