ul {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5%; 
  }
  
  #nav_bar {
    border-radius: 25px; 
    background-color: #597E52; 
  }

  #back {
    padding: 10px;
    background-color: #E1F0DA;
    border-width: 2px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Garamond, serif;
    text-shadow: 2px 2px 3px #597E52;
  }
  #back:hover {
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
  }

  #coins {
    position: absolute; 
    left: 45%; 
    font-size: 30px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  #seeds {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink; 
    gap: 10%; 
    border-radius: 25px 25px 0px 0px;
  }
  
  #prices {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple; 
    gap: 30%; 
    border-radius: 0px 0px 25px 25px;
    
  }
  

  #buy1, #buy2 {
    padding: 10px;
    background-color: #E1F0DA;
    border-width: 2px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Garamond, serif;
    text-shadow: 2px 2px 3px #597E52;
  }

  #space {
    height: 20px; 
  }
