html{
    font-family: Garamond, serif;
    background: radial-gradient(circle at 31.5%, #597E52, #597E52 36%, #99BC85 65%, #597E52 20%);
}


h1{
    display: flex;
    font-size: 150px;
    color: #D4E7C5;
    text-shadow: 2px 2px 4px #101b0e;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    margin-top: -2px;

}

.first{
    margin-bottom: -10px;
}

#reset {
    padding: 0.1%; 
}
button{
    display: flex;
    justify-content: center;
    background-color: #E1F0DA;

    margin-left: -10px;
    margin-top: 20px;
    
    border-width: 3px;
    border-color: #597E52;


    font-size: 40px;
    font-family: Garamond, serif;

    box-shadow: 3px 3px 5px #233720;
    
}

button:hover{
    display: flex;
    align-items: center;
    background-color: #f2faee;

    border-width: 3px;

    font-size: 40px;
    font-family: Garamond, serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.column {
    flex: 50%;
    justify-content: center;
    align-items: center;
}

.column2{
    padding-top: 170px;
    margin-top: 100px;
}

.img1{
    display: flex;
}

